extends layout
block content
  body   
  .page-header
    h2.form-signin-heading Bug page     
        small 
         =req.bug.bugName
    p 
    b Full description: 
    =req.bug.description
    a.btn.offset5(href="#", onclick="showLayer();" )
     b € 
    b=req.bug.totalSum
    b €         
   p 
    b Posted by:  
      a(href='/user/' + req.bug.author.id)
       =req.bug.author.username
   p 
    b Status:  
    =req.bug.status
   p 
    b Link:  
      a(href=req.bug.link)=req.bug.link
   hr 
  each comment in req.bug.comments
   div.well.well-small
    b Posted by 
    a(href='/user/' + comment.user)
     =comment.username
    p
     b When: 
     =comment.createdAt

    p= comment.body

  form(method="post", action="/bugpage/#{req.bug._id}/comments")
   textarea(type='text', rows="3", name='body', placeholder='Add your comment')
   br
   button.btn.btn-success(type='submit') Post
  form#payment-form(method="post",  action="/bugpage/#{req.bug._id}/additions")
   #shadow.opaqueLayer
     #question.questionLayer
      input.btn.btn-close.offset3(type='button', onclick='hideLayer();', value='X')
      h3 Donate Form
       .modal-body
        .control-group
         label.control-label.validate(for='sum') Donation Amount
          .controls
           .input-prepend
            .span.add-on  € 
            input.input-mini(name='sum', type='number', value='5', required='required')
          .controls
           label.checkbox
            input#tos-agreed(type='checkbox',name='tos-agreed', required='required') 
            I Agree to the              
            a(href='#') Terms of Service
      .control-group
       .controls
        button.btn.btn-primary.btn-small Donate
